In [37]:
import json
import os
import re
import warnings

from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
from pathlib import Path
import requests
import yaml

In [3]:
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', 250)

### Norrtälje kommun

In [ ]:
# 902597
# 902601
# 902604
# 902827
# 902833
# 902842
# 902845
# 902855
# 902856
# 902860
# 902862
# 902868
# 902869
# 902873
# 902947
# 903662
# 903663
# 903665
# 903673
# 903687
# 903690
# 903691
# 903723
# 903731
# 909981
# 909987
# 909994
# 910051
# 910127
# 923691
# 923695
# 924056
# 924065
# 939448
# 939947
# 940299
# 940329
# 940340

In [8]:
norrtalje_visible_location_ids = [
    902597,
    902601,
    902604,
    902827,
    902833,
    902842,
    902845,
    902855,
    902856,
    902860,
    902862,
    902868,
    902869,
    902873,
    902947,
    903662,
    903663,
    903665,
    903673,
    903687,
    903690,
    903691,
    903723,
    903731,
    909981,
    909987,
    909994,
    910051,
    910127,
    923691,
    923695,
    924056,
    924065,
    939448,
    939947,
    940299,
    940329,
    940340,
]

In [9]:
len(norrtalje_visible_location_ids)

38

In [ ]:
902597 : 0
902601 : 2
902000 : NaN

In [71]:
start = 933815
end = 950000

numbers_list = [num for num in range(start, end + 1)]
len(numbers_list)

16186

In [72]:
id_dict = {}
for id in numbers_list:
    url = "https://www.hemnet.se/bostader"
    params= {
        "location_ids":id,
    }
    payload={}
    headers = {"User-Agent": "Mozilla/5.0"
    }

    response = requests.request(
        "GET",
        url,
        headers=headers,
        data=payload,
        params=params
    )

    soup = BeautifulSoup(response.content, "html.parser")
    h1_element = soup.find_all('h1', class_='hcl-heading hcl-heading--size3')
    h1_element_str = str(h1_element)
    match = re.search(r'-\s+(.*)</h1>', h1_element_str)
    if match:
        extracted_text = match.group(1)
        id_dict[id] = extracted_text

In [66]:
location_id_df = pd.DataFrame.from_dict(id_dict, orient="index", columns=["area"]).reset_index().rename(columns={"index":"hemnet_location_id"})
location_id_df

       hemnet_location_id                                           area
0                  900000               Gunnarskog tätort, Arvika kommun
1                  900001              Lilla Stenby tätort, Ekerö kommun
2                  900002  Starrkärr och Näs tätort, Stenungsunds kommun
3                  900003                 Månkarbo tätort, Tierps kommun
4                  900004                   Raksta tätort, Tyresö kommun
...                   ...                                            ...
33811              933811       Bjärka-Säby Storängen, Linköpings kommun
33812              933812             Björkbacksvägen, Linköpings kommun
33813              933813           Björklida Björkmo, Linköpings kommun
33814              933814           Björklida Svensbo, Linköpings kommun
33815              933815                  Bonäsvägen, Linköpings kommun

[33816 rows x 2 columns]

In [69]:
933815 - 900000

33815

In [67]:
location_id_df.to_parquet("../data/hemnet_location_ids_933815_950000.parquet.gzip")

In [68]:
location_id_df.query("area == 'Sverige'")

       hemnet_location_id     area
268                900268  Sverige
269                900269  Sverige
270                900270  Sverige
271                900271  Sverige
272                900272  Sverige
...                   ...      ...
24046              924046  Sverige
24047              924047  Sverige
24048              924048  Sverige
24082              924082  Sverige
29968              929968  Sverige

[6197 rows x 2 columns]